<div id="w-wrap">
  <div id="w-panel">
    <div id="w-pannel-header">
      <span></span>
      <p>Embed widget</p>
    </div>
    <div id="w-body">
      <form id="w-form" enctype="multipart/form-data" autocomplete="off" spellcheck="off">
        <div id="w-elms">
          <label for="title">
            <input
              required
              type="text"
              id="title"
              name="title"
              placeholder="Subject*"
              autocomplete="off"
              autocorrect="off"
              autocapitalize="off"
              spellcheck="false"
            />
          </label>
        </div>
        <button type="submit">Submit</button>
      </form>
    </div>
  </div>
  <div id="w-badge">
    <div>Widget</div>
  </div>
</div>
